.container {
    box-shadow: 1px 1px 6px darkgreen;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.littleColorBox {
    box-shadow: 2px 2px 12px blue;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}