/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */
#boven{
    width: 800px;
    height: 250px;
}
#linksboven {
    width:250px;
    height:250px;
    background-color: red;
    display: inline-block;
}
#middenboven {
    width: 60px;
    height: 250px;
    background-color:blue;
    display: inline-block;
    border-left: 20px solid white;
    border-right: 20px solid white;
        display: inline-block;

}
#rechtsboven {
    width:450px;
    height:250px;
    background-color:red;
    display: inline-block;
}
#midden {
    width:800px;
    height:100px;
    
}
#linksmidden {
    width:270px;
    height:60px;
    background-color: blue;
    border-top: 20px solid white;
    border-bottom: 20px solid white;
    display: inline-block;
}
#middenmidden {
    width:60px;
    height:100px;
    background-color: blue;
    display: inline-block;
    
}
#rechtsmidden{ 
    width:470px;
    height:60px;
    background-color: blue;
    border-top: 20px solid white;
    border-bottom: 20px solid white;
    display: inline-block;
}
#onder {
    width:800px;
    height:250px;
    background-color: red;
}
#linksonder {
    width:250px;
    height:250px;
    background-color: red;
    display: inline-block;
}
#middenonder {
    width: 60px;
    height: 250px;
    background-color:blue;
    display: inline-block;
    border-left: 20px solid white;
    border-right: 20px solid white;
}
#rechtsonder {
    width:450px;
    height:250px;
    background-color:red;
    display: inline-block;
}